<!--====banner====-->
<div class="section fixtop">
    <div id="" class="prlx_lyr_1 pic col-xs-12 col-sm-12">
        <div class="text-lg">
            <div id="content_layer" class="textmid">
                <div class="textareaBox textcenter">

                    <h5 class="bannerTxt animated fadeInUp">VISIT ONE OF OUR MULTIPLE</h5>
                    <h1 class="bannerTxt2 animated fadeInUp">Sessions of Relaxation</h1>
                    <hr class="room">
                    <div class="wrapperGroup">

                        <div class="clearfix"></div>
                        <div class="wrapper">

                            <div>
                                <button class="mainBtn animated fadeInUp" type="submit" value="SEARCH" onclick="window.location.href='contact.php'">BOOK NOW</button>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>


<!--====house====-->

<div class="section2">

    <div class="container">
        <div class="de-margin">
            <div class="bookingtitle">
                <h5 class="SectionTitle">WELCOME</h5>
                <h2 class="Btitle">極致舒緩</h2>

                <div class="smalltext">
                    <br>
                    全台首賣的稀有課程，使用巧克力原料、緊緻度絕佳的GoldenTouch緊顏課程，喜愛紓壓療癒者所推出的皇家能量精油按摩課程系列等，有如身在紐約Loft中、充滿藝文氣息的優雅空間，不定期展示潛力新秀的藝術作品。
                </div>

                <div class="textHr"></div>
            </div>


            <div id="introduce" class="groupBox">
                <div class="textcenter col-sm-6 col-lg-3 p1">
                    <div class="picmove">
                        <a href="{{ __DIR__ }}/assets/images/g1.jpg" data-lightbox="spa-chocolate1">
                            <div id="introduce_item_0" class="hover picholder">
                                <img src="{{ __DIR__ }}/assets/images/g1.jpg" alt="">
                            </div>
                        </a>
                        <div class="text-section2">
                            <h4 class="Sstitle"><br>Belle 面膜</h4>
                            <h2 class="smalltext"><br>針對個人不同的需求深層保養，以專業保養品搭配獨特手技，滋潤肌底，提高肌膚保濕含水度、使臉部肌膚更加透亮水嫩。 </h2>
                        </div>

                    </div>
                </div>

                <div class="textcenter col-sm-6 col-lg-3 p2">
                    <div class="picmove">
                        <a href="{{ __DIR__ }}/assets/images/g2.jpg" data-lightbox="spa-chocolate2">
                            <div id="introduce_item_1" class="hover picholder">
                                <img src="{{ __DIR__ }}/assets/images/g2.jpg" alt="">
                            </div>
                        </a>
                        <div class="text-section2">
                            <h4 class="Sstitle"><br>Belle 塗料</h4>
                            <h2 class="smalltext"><br>選擇適合肌質與需求的香氛巧克力豆原料，進入一場愉悅身心的芳香療程，讓心靈與精神獲得放鬆，達到純淨美好狀態。</h2>
                        </div>


                    </div>
                </div>
                <div class="textcenter col-sm-6 col-lg-3 p3">
                    <div class="picmove">
                        <a href="{{ __DIR__ }}/assets/images/g3.jpg" data-lightbox="spa-chocolate3">
                            <div id="introduce_item_2" class="hover picholder">
                                <img src="{{ __DIR__ }}/assets/images/g3.jpg" alt="">
                            </div>
                        </a>
                        <div class="text-section2">
                            <h4 class="Sstitle"><br>Belle 按摩</h4>
                            <h2 class="smalltext"><br>經典的放鬆課程，藉由專業的手技深層按摩釋放壓力，並能同時舒緩僵硬酸痛的部位。讓身心靈全面放鬆舒緩，擁有煥然一新的舒適感受。</h2>

                        </div>


                    </div>
                </div>
                <div class="textcenter col-sm-6 col-lg-3 p4">
                    <div class="picmove">
                        <a href="{{ __DIR__ }}/assets/images/g4.jpg" data-lightbox="spa-chocolate4">
                            <div id="introduce_item_3" class="hover picholder">
                                <img src="{{ __DIR__ }}/assets/images/g4.jpg" alt="">
                            </div>
                        </a>
                        <div class="text-section2">
                            <h4 class="Sstitle"><br>Belle 產品</h4>
                            <h2 class="smalltext"><br>平滑緊緻 抗老修護
                                緊緻、柔軟平滑肌膚，同時改善肌膚受外在環境刺激引發的不適感，延緩老化。</h2>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--====join us====-->
<div id="element-waypoint" class="join">

    <div class="color col-xs-12 col-sm-6 ">
        <div class=" text-col2 ">
            <div class="textmid">
                <div class="textarea">
                    <h5> 加入我們! </h5>
                    <h2>Belle Spa 煥發新生活力</h2>
                    <p>
                        Spa擅於以純粹天然的花果及香料調製成不同功效的敷料，並以健康自然的元素融合觀、聽、聞、觸、嚐等感覺，五感合一臻於藝術境界，體驗前所未有的身心靈Spa！
                        奢華東方Spa的開創者。<br>

                        崇尚純粹的手法和技藝，而非借助高科技的儀器，運用天然草藥和香料來詮釋傳統亞式療法。</p>
                    <div>
                        <button id="sBtn" class="sBtn margin_1" type="submit" value="SEARCH" onclick="window.location.href='contact.php'">BOOK NOW</button>
                    </div>
                </div>
            </div>


        </div>


    </div>
    <div class="mia col-xs-12 col-sm-6 ">

    </div>
    <div class="clearfix"></div>

</div>


<!--====expert====-->
<div class="expert">
    <div class="pic">
        <div class="container textcenter">

            <h5 class="titleColor">SPECIALISTS</h5>
            <h2 class="Btitle">專家團隊</h2>
            <div class="textHr"></div>
            <div id="expert" class="realGroup textcenter ">
                <div class="col-lg-4 col-sm-4 col-xs-12 ">


                    <div id="expert_item_0" class="pixFrame2"><img class="pplimg" src="{{ __DIR__ }}/assets/images/expertgigi.jpeg"
                                                                   data-lightbox="expertgigi">
                    </div>
                    <div class="tableGroup">
                        <h4 class="Sstitle"><br>Max<span class="xstext">/學院長</span></h4>
                        <h5 class="smalltext"><br>作爲亞洲領先的Spa運營商以及熱帶花園Spa概念的先鋒，Belle學院特別重視護療師的培訓及發展。

                        </h5>
                    </div>


                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12 ">
                    <div id="expert_item_1" class="pixFrame2"><img class="pplimg" src="{{ __DIR__ }}/assets/images/expertb.jpg" alt=""></div>
                    <div class="tableGroup">
                        <h4 class="Sstitle"><br>Lily<span class="xstext">/護理長</span></h4>
                        <h5 class="smalltext"><br>Belle挑選護療師時還會考慮工作態度及服務意識。其他重要的標準還包括對於工作的熱情、開發自我潛能的意願以及服務爲先的態度。

                        </h5>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12 ">
                    <div id="expert_item_2" class="pixFrame2"><img class="pplimg" src="{{ __DIR__ }}/assets/images/expert4.jpg"></div>
                    <div class="tableGroup">
                        <h4 class="Sstitle"><br>Mimi<span class="xstext">/培訓師</span></h4>
                        <h5 class="smalltext"><br>培訓项目涵蓋了Spa護療的全方面，包括人體解剖學知識、重要的穴位、傳统及現代的按摩技藝、適用於不同體重的不同技法。
                        </h5>
                    </div>


                </div>
                <div class="clearfix"></div>
            </div>


        </div>
    </div>

</div>
<!--====book now====-->
<div class="book">
    <div class="col-xs-12 col-sm-12">
        <div class="text-lg">
            <div class="textmid">
                <div class="textareaBox textcenter">
                    <h5>OUR SPECIAL OFFER</h5>
                    <h2 class="Wtitile">頂級禮遇</h2>
                    <p>
                        尊重肌膚的機能並將變美麗的成份傳遞至所需的地方，自然喚醒肌膚本身原生的美麗。
                        不僅是現在，對於以後的肌膚狀態也是小心翼翼地呵謢，讓您的美麗綿延不絕

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>